body {
	background: #000000;
}

.endPopup {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 30%;
	right: 40%;
	margin-top: 200px;
	background: #000000;
	border: 2px solid white;
	display: none;  /*flex*/
	border-radius: 40px;
	width: 30%;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
  	justify-content: center;
  	align-items: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
}

.Button {
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	border: 2px solid white;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 2px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px
}

.Button:hover{
	background-color: rgba(255, 255, 255, 0.3);
  	transition: background-color .2s;
  	border-width: 3px;
}

#stage {
	color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	display: block;
	padding: 2rem;
}

#stage div {
	padding: 3%;
	margin-left: 2%;
	margin-right: 2%; 
}

#watchword {
	text-align: center;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	font-size: 2rem;
	/*background-color: pink;*/
}

#hangmanGraphics{
	width: 40%;
	height: 100%;
	float: left;
	/*background-color: yellow;*/
}

#alphabet{
	font-family: 'Roboto Mono', monospace;
	width: auto;
	height: 100%;
	float: left;
	/*background-color: blue;*/
}